{
  "extends": [
    "react-app",
    "airbnb",
    "plugin:jsx-a11y/recommended",
    "prettier",
    "airbnb/hooks",
    "plugin:import/typescript",
    "plugin:@typescript-eslint/recommended"
  ],
  "plugins": [
    "jsx-a11y",
    "prettier"
  ],
  "rules": {
    "no-underscore-dangle": 0,
    "import/prefer-default-export": "off",
    "react/jsx-filename-extension": [
      1,
      {
        "extensions": [
          ".js",
          ".jsx",
          ".ts",
          ".tsx"
        ]
      }
    ],
    "import/no-useless-path-segments": 0,
    "no-use-before-define": 0,
    "@typescript-eslint/no-use-before-define": 0,
    "jsx-a11y/no-noninteractive-tabindex": 0,
    "no-shadow": 0,
    "react/prop-types": 0,
    "no-noninteractive-element-to-interactive-role": 0,
    "arrow-body-style": 0,
    "@typescript-eslint/rule-name": 0,
    "import/extensions": [
      "error",
      "ignorePackages",
      {
        "js": "never",
        "jsx": "never",
        "ts": "never",
        "tsx": "never"
      }
    ]
  }
}
