$font-size: 13px;
$line-height: 15px;

.popup {
  margin: 0 auto;
  position: fixed;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  z-index: 1;
  background-color: rgba(0, 0, 0, 0.7);
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  visibility: hidden;
  opacity: 0;
  transition: all ease 0s;
}

.opened {
  transition: all ease .3s;
  visibility: visible;
  opacity: 1;
}

.container {
  padding: 30px;
  box-sizing: border-box;
  background-color: #FFFFFF;
  display: grid;
  max-width: 619px;
  width: 100%;
  height: 425px;
  grid-template-columns: minmax(190px, 331px) minmax(140px, 214px);
  grid-template-rows: 1fr 1fr;
  grid-template-areas: "img comments-container" "form comments-container";
  position: relative;
  justify-items: center;
  grid-column-gap: 14px;
}

.closeButton {
  background-color: transparent;
  background-image: url(assets/popup-close-button.svg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  position: absolute;
  right: 21px;
  top: 21px;
  width: 18px;
  height: 18px;
  border: none;
  transition: all ease .1s;
  cursor: pointer;
  transform: rotate(90deg);

  &:hover {
    transform: rotate(180deg);
  }
}

.img {
  grid-area: img;
  width: 100%;
  object-fit: cover;
  height: 205px;
}

.commentsContainer {
  grid-area: comments-container;
  width: 100%;
  height: 100%;
  overflow: auto;
  direction: rtl;
}

.commentsContainer::-webkit-scrollbar {
  width: 16px;
}

.commentsContainer::-webkit-scrollbar-thumb {
  border: 1px solid #CCCCCC;
}

.commentsContainer::-webkit-scrollbar-thumb:hover {
  border: 1px solid #878787;
}

.commentContainer {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  padding-left: 5px;
}

.commentContainer:not(:first-of-type) {
  padding-top: 20px;
}

.comment {
  font-size: $font-size;
  line-height: $line-height;
  padding: 0;
  margin: 0;
  color: #000000;
  padding-top: 5px;
}

.commentTypeDate {
  color: #999999;
}

.form {
  grid-area: form;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-self: end;
}

.formError {
  visibility: visible;
  color: #ff2b06;
  font-size: 9px;
  height: $font-size + 7;
  line-height: $line-height + 5;
}

.formErrorHide {
  visibility: hidden;
}

.formInput {
  font-family: inherit;
  border-radius: 3px;
  border: 1px solid #CCCCCC;
  height: 30px;
  box-sizing: border-box;
  width: 100%;
}

.formButton {
  height: 30px;
  background: #0a6bd0d9;
  border-radius: 3px;
  color: #FFFFFF;
  font-size: $font-size;
  line-height: $line-height;
  border: none;
  cursor: pointer;
  margin-top: 19px;

  &:hover {
    background: #0a54a8;
  }

  &:disabled {
    background: #4997D0;
    cursor: none;
    pointer-events: none;
  }
}

@media screen and (max-width: 425px) {
  .container {
    height: 100%;
    grid-template-columns: 1fr;
    grid-template-rows: auto 1fr auto;
    grid-template-areas: "img" "comments-container" "form";
    grid-column-gap: 0;
    padding: 0 0 40px 0;
    grid-row-gap: 20px;
  }

  .form,
  .commentsContainer {
    width: 90%;
  }

  .commentsContainer {
    height: 100%;
    direction: ltr;
  }

  .commentContainer {
    align-items: flex-start;
  }

  .popupComment {
    padding-top: 0;
    padding-left: 0;
  }
}
